/.vscode/
/data/
/snowbwhite.bin
/snowbwhite.bin.jumplist
/cs-yychr-plugins/XaviXFormat/.vs
/cs-yychr-plugins/XaviXFormat/bin
/cs-yychr-plugins/XaviXFormat/obj
/cs-yychr-plugins/XaviXFormat/CharactorLib.dll
/ghidra/Ghidra/Processors/XaviX/data/languages/XaviX.sla
